{% extends 'base.html' %} 
{% block content %}
<div class="home__playlists">
    {% for playlist in playlists %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">{{playlist.title}}</h3>
            <hr />

            {% for song in playlist.song.all %}

                <div class="song">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{song.title}}</b></span>
                    <span>{{song.get_length}}</span>
                </div>
                <span>
                    <!--   Here we are creating an anchor
                    tag that when clicked will hit our new
                    route and send a query to remove the song     -->
                    <a href="{% url 'playlist_song_assoc' playlist.pk song.pk %}?assoc=remove" class="button is-danger is-outlined">
                    <span class="icon is-small">
                        <i class="fas fa-times"></i>
                    </span>
                    </a>
                </span>
            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">"There are no songs in this playlist"</div>
    {% endfor %}
</div>
{% endblock %}